<h1>Twepic一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @twepics.each do |twepic| %>
  <tr>
    <td><%= twepic.title %></td>
    <td><%= twepic.content %></td>
  </tr>
<% end %>
</table>
